@model AsyncInn.Models.ViewModels.RoomAmenitiesListVM

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Layout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Layout)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Room.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>List of Room Amenities</h4>
    <hr />
    <ul class="row">
        @foreach (var item in Model.RoomAmenities)
        {
        <li>
            @Html.DisplayFor(modelItem => item.Amenities.Name)
        </li>
        }
    </ul>
</div>
<div>
    <a href="/RoomAmenities">Edit Amenities</a>
</div>